<bit-dialog dialogSize="large">
  <span bitDialogTitle>
    {{ "eventLogs" | i18n }}
    <small class="tw-text-muted" *ngIf="name">{{ name }}</small>
  </span>
  <div bitDialogContent>
    <div *ngIf="!loaded">
      <i
        class="bwi bwi-spinner bwi-spin tw-text-muted"
        title="{{ 'loading' | i18n }}"
        aria-hidden="true"
      ></i>
      <span class="tw-sr-only">{{ "loading" | i18n }}</span>
    </div>
    <div>
      <div class="tw-flex tw-space-x-2">
        <bit-form-field class="!tw-mb-0">
          <bit-label class="tw-sr-only">{{ "startDate" | i18n }}</bit-label>
          <input
            bitInput
            type="datetime-local"
            id="start"
            placeholder="{{ 'startDate' | i18n }}"
            [(ngModel)]="start"
          />
        </bit-form-field>
        <bit-form-field class="!tw-mb-0">
          <bit-label class="tw-sr-only">{{ "endDate" | i18n }}</bit-label>
          <input
            bitInput
            type="datetime-local"
            id="end"
            placeholder="{{ 'endDate' | i18n }}"
            [(ngModel)]="end"
          />
        </bit-form-field>
        <button #refreshBtn bitButton buttonType="primary" (click)="loadEvents(true)">
          <i
            class="bwi bwi-refresh bwi-fw"
            [ngClass]="{ 'bwi-spin': loaded && $any(refreshBtn).loading }"
            aria-hidden="true"
          ></i>
          {{ "refresh" | i18n }}
        </button>
      </div>
      <hr />
      <div *ngIf="!events || !events.length">
        {{ "noEventsInList" | i18n }}
      </div>

      <table class="table table-hover mb-0" *ngIf="events && events.length">
        <thead>
          <tr>
            <th class="border-top-0" width="210">{{ "timestamp" | i18n }}</th>
            <th class="border-top-0" width="40">
              <span class="sr-only">{{ "device" | i18n }}</span>
            </th>
            <th class="border-top-0" width="150" *ngIf="showUser">{{ "user" | i18n }}</th>
            <th class="border-top-0">{{ "event" | i18n }}</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let e of events">
            <td>{{ e.date | date : "medium" }}</td>
            <td>
              <i
                class="text-muted bwi bwi-lg {{ e.appIcon }}"
                title="{{ e.appName }}, {{ e.ip }}"
                aria-hidden="true"
              ></i>
              <span class="sr-only">{{ e.appName }}, {{ e.ip }}</span>
            </td>
            <td *ngIf="showUser">
              <span appA11yTitle="{{ e.userEmail }}">{{ e.userName }}</span>
            </td>
            <td [innerHTML]="e.message"></td>
          </tr>
        </tbody>
      </table>

      <button
        #moreBtn
        [appApiAction]="morePromise"
        type="button"
        class="btn btn-block btn-link btn-submit"
        (click)="loadEvents(false)"
        [disabled]="loaded && $any(moreBtn).loading"
        *ngIf="continuationToken"
      >
        <i class="bwi bwi-spinner bwi-spin" title="{{ 'loading' | i18n }}" aria-hidden="true"></i>
        <span>{{ "loadMore" | i18n }}</span>
      </button>
    </div>
  </div>
  <ng-container bitDialogFooter>
    <button bitButton buttonType="secondary" type="button" bitDialogClose>
      {{ "close" | i18n }}
    </button>
  </ng-container>
</bit-dialog>
